.VideoPlayer {
    background-color: black;

}

section {
    display: flex;
    justify-content: center;
}

.VideoList{
    height: 87vh;        
    video {
        object-fit: cover;
        height: 100%;
        width:100%;
    }
}

.Videos {
    border-radius: 10px;

    margin-top: 90px;
    width: 700px;
    overflow: hidden;

    .VideoPlayer {
        position: relative;

    }
}

.VideoControls{
    button {
        width: 50%;
        height: 50px;
    }
}

.reaction{
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;

    button{
        height: 50px;
        width: 75px;
        margin-bottom: 10px; 
        background-color: #b1b1b1ad;
        border-radius: 50px;
        border: none;
        svg {
            margin: auto;
        }
      }
      button:hover{
      background-color: #d3d3d3ee;
    }
  }


.VideoInfo{
    padding-bottom: 60px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(#00000000, #000000);

    Info{
        flex-direction: column;
    }
    
}
.User{
    margin-left: 20px;
    color: white;
}
.title{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.Background{
    width: 100%;
    height: 100%;
    position: fixed;
}

