<section>
    <div class="Videos">
        <div class="VideoPlayer">
            <div class="VideoList">
            <video src={{VideoLink}} loop autoplay></video>
            </div>

            
            <div class="VideoInfo">
                <a class="User" href={{UserPage}}>@{{UsernameUploaded}}</a>
                <div class="Info">
                   <div class="title">{{Title}}</div>
                </div>
            </div>
            <div class="reaction">
                <button (click)="Back()" class="Back">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 16 L16 1 L16 10 L8 10 L8 22 L16 22 L16 31 Z" />
                    </svg>
                </button>
                <button (click)="Like()" class="Like">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z"
                    />
                    </svg>
                </button>
                <button (click)="Dislike()" class="Dislike">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z"
                        />
                    </svg>
                </button>
                <button (click)="Next()" class="Next">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1 L30 16 L16 31 L16 22 L26 22 L26 10 L16 10 L16 1 Z"/>
                    </svg>
                </button>
            </div>
        </div>

</div>

     <!--
    <div class="Videos">
        <div class="VideoPlayer">
            <video src={{VideoLink}} loop autoplay></video>
            <div class="buttons">
                <button (click)="Back()" class="Back">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 16 L16 1 L16 10 L8 10 L8 22 L16 22 L16 31 Z" />
                    </svg>
                </button>
                
                <button (click)="Dislike()" class="Dislike">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z"
                         />
                    </svg>
                </button>

                <button (click)="Like()" class="Like">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z"
                      />
                    </svg>
                </button>

                <button (click)="Next()" class="Next">
                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1 L30 16 L16 31 L16 22 L26 22 L26 10 L16 10 L16 1 Z"/>
                    </svg>
                </button>
            </div> 

        </div>

        <div class="CommentsAndInfo">
            <div class="VideoInfo">
                <h1><a href={{UserPage}}>{{UsernameUploaded}}</a></h1>
                <hr/>
                <h1>{{Title}}</h1>
                <h2>{{Description}}</h2>
                <h3>{{CreatedAt}}</h3>
                <hr/>
            </div><br/>

        </div>
    </div>
-->
</section>
